version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "sam-group-production"
s3_bucket = "aws-sam-cli-managed-default-samclisourcebucket-kr1fyr344qo1"
s3_prefix = "sam-group-production"
region = "eu-west-3"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "UsersTableName=\"users_production\" GroupsTableName=\"groups_production\" BannedUsersTableName=\"bannedusers_production\" ConfirmationRequired=\"2\" LogRetentionInDays=\"1\" StageName=\"prod\""
image_repositories = []

[dev]
[dev.deploy]
[dev.deploy.parameters]
stack_name = "sam-group-development"
s3_bucket = "aws-sam-cli-managed-default-samclisourcebucket-kr1fyr344qo1"
s3_prefix = "sam-group-development"
region = "eu-west-3"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "MinimumGroupSize=\"2\" MaximumGroupSize=\"5\" ConfirmationRequired=\"2\" GroupsTableName=\"groups_development\" LogRetentionInDays=\"1\" StageName=\"dev\""
image_repositories = []
