version = 0.1
[dev]
[dev.deploy]
[dev.deploy.parameters]
stack_name = "sam-group-development"
s3_bucket = "aws-sam-cli-managed-default-samclisourcebucket-kr1fyr344qo1"
s3_prefix = "sam-group-development"
region = "eu-west-3"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "MinimumGroupSize=\"2\" MaximumGroupSize=\"5\" ConfirmationRequired=\"2\" LogRetentionInDays=\"1\" WebSocketThrottlingBurstLimit=\"1\" WebSocketThrottlingRateLimit=\"1\" ApiThrottlingBurstLimit=\"1\" ApiThrottlingRateLimit=\"1\" StageName=\"dev\""
image_repositories = []

[prod]
[prod.deploy]
[prod.deploy.parameters]
stack_name = "sam-group-production"
s3_bucket = "aws-sam-cli-managed-default-samclisourcebucket-kr1fyr344qo1"
s3_prefix = "sam-group-production"
region = "eu-west-3"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "MinimumGroupSize=\"3\" MaximumGroupSize=\"5\" ConfirmationRequired=\"2\" LogRetentionInDays=\"7\" WebSocketThrottlingBurstLimit=\"500\" WebSocketThrottlingRateLimit=\"500\" ApiThrottlingBurstLimit=\"500\" ApiThrottlingRateLimit=\"500\" StageName=\"prod\""
image_repositories = []
