# This is a workflow to check syntax on JavaScript

name: Chat Backend Test

# Controls when the workflow will run
on:
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: Install modules - Chat Backend
        working-directory: ./chat-backend
        run: yarn
      - name: Run Test - Chat Backend
        working-directory: ./chat-backend
        run: yarn test