# This is a workflow to check that chat-backend and chat-application have not both been edited

name: Checks Edited Folders

# Controls when the workflow will run
on:
  pull_request:
    branches: [ main ]
  paths:
    - chat-application/**
    - chat-backend/**

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: Checks Working Folders
        run: |
          echo 'Hello World'
          has_edited_chat_application=false
          has_edited_chat_backend=false
          git diff --name-only origin/main... > files.txt
          echo files.txt

          while IFS= read -r file
          do
            echo $file
            if [[ $file != chat_application/** ]]; then
              has_edited_chat_application=true
            elif [[ $file != chat_backend/** ]]; then
              has_edited_chat_backend=true
            fi
          done < files.txt

          if [ "$has_edited_chat_application" = true] ; then
            echo 'You've edited chat_application'
          fi

          if [ "$has_edited_chat_backend" = true] ; then
            echo 'You've edited chat_backend'
          fi

          if [ "$has_edited_chat_application" = true && "$has_edited_chat_backend" = true] ; then
            echo 'You cannot edit chat_application and chat_backend!'
            exit 1
          fi