# This is a workflow to check syntax on JavaScript

name: ESLint

# Controls when the workflow will run
on:
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: Install modules
        working-directory: ./lambda-notification
        run: yarn
      - name: Run ESLint
        working-directory: ./lambda-notification
        run: yarn run eslint .