# This is a workflow to check syntax on JavaScript

name: ESLint

# Controls when the workflow will run
on:
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: Install modules - Sam Groups
        working-directory: ./sam-groups
        run: yarn
      - name: Run ESLint - Sam Group
        working-directory: ./sam-groups
        run: yarn run eslint .
      - name: Install modules - Artillery
        working-directory: ./artillery
        run: yarn
      - name: Run ESLint - Artillery
        working-directory: ./artillery
        run: yarn run eslint .