# This workflow take the latest app an submit it for review (to go in production)

name: Release App

# Controls when the workflow will run
on:
  workflow_dispatch:
  schedule:
    # every Sunday at 12pm UTC (13pm London)
    - cron: '0 12 * * 0'

jobs:
  publish-ios-app:
    name: Publish iOS App
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: chat-application/ios
      
      - name: Publish app to App Store
        run: bundle exec fastlane publish
        env:
          KEY_ID: ${{ secrets.APPLE_KEY_ID }}
          ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
          KEY_CONTENT: ${{ secrets.APPLE_KEY_CONTENT }}
  publish-android-app:
    name: Publish Android App
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: chat-application/android
      
      - name: Publish app to App Store
        run: bundle exec fastlane publish
        env:
          SUPPLY_JSON_KEY_DATA: ${{ secrets.SUPPLY_JSON_KEY_DATA }}