# This is a workflow to check syntax on JavaScript

name: SAM Pipeline

# Controls when the workflow will run
on:
  workflow_dispatch:
  push:
    branches:
      - automation-for-backend

# Jobs
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: aws-actions/setup-sam@v1
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      # sam build 
      - name: SAM Build
        working-directory: ./chat-backend
        run: sam build --use-container
      # Run unit tests- specify unit tests here 
      # sam deploy
      - name: SAM Deploy
        working-directory: ./chat-backend
        run: sam deploy --config-env dev --no-confirm-changeset --no-fail-on-empty-changeset