# This workflow verify the code version is compatible with the one in the stores

name: Verify Code Version

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - main
    paths:
      - chat-application/**

jobs:
  verify-ios-app:
    name: Verify iOS App
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: chat-application/ios
      
      - name: Verify app version in App Store
        working-directory: chat-application/ios
        run: bundle exec fastlane verify_version
        env:
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}