# This workflow take the latest app an submit it for review (to go in production)

name: Verify Code Version

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - 233-auto-release-not-working

jobs:
  verify-ios-app:
    name: Verify iOS App
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: chat-application/ios
      
      - name: Verify app version in App Store
        working-directory: chat-application/ios
        run: bundle exec fastlane verify_version
        env:
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
  verify-android-app:
    name: Verify Android App
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: chat-application/android
      
      - name: Verify app version in App Store
        working-directory: chat-application/android
        run: bundle exec fastlane verify_version
        env:
          SUPPLY_JSON_KEY_DATA: ${{ secrets.SUPPLY_JSON_KEY_DATA }}